BABIES/MRI/newborn/bids/*
!BABIES/MRI/newborn/bids/
!BABIES/MRI/newborn/bids/dataset_description.json

BABIES/MRI/newborn/derivatives/precomputed/*
!BABIES/MRI/newborn/derivatives/precomputed/
!BABIES/MRI/newborn/derivatives/precomputed/dataset_description.json

BABIES/MRI/newborn/derivatives/recon-all/*
!BABIES/MRI/newborn/derivatives/recon-all/
!BABIES/MRI/newborn/derivatives/recon-all/.gitkeep


BABIES/MRI/newborn/derivatives/work/nibabies_work/*
!BABIES/MRI/newborn/derivatives/work/nibabies_work/
!BABIES/MRI/newborn/derivatives/work/nibabies_work/.gitkeep


BABIES/MRI/*.txt
BABIES/MRI/newborn/derivatives/Nibabies/*
BABIES/MRI/newborn/SW_ROI
BABIES/MRI/newborn/.bidsignore


BABIES/MRI/newborn/.bidsignore
BABIES/MRI/six_month/.bidsignore

BABIES/MRI/six_month/bids/*
!BABIES/MRI/six_month/bids/
!BABIES/MRI/six_month/bids/dataset_description.json

BABIES/MRI/six_month/derivatives/precomputed/*
!BABIES/MRI/six_month/derivatives/precomputed/
!BABIES/MRI/six_month/derivatives/precomputed/dataset_description.json

BABIES/MRI/six_month/derivatives/Nibabies/*

BABIES/MRI/six_month/derivatives/recon-all/sub-*
!BABIES/MRI/six_month/derivatives/recon-all/
!BABIES/MRI/six_month/derivatives/recon-all

BABIES/MRI/six_month/derivatives/work/nibabies_work/*
!BABIES/MRI/six_month/derivatives/work/nibabies_work/
!BABIES/MRI/six_month/derivatives/work/nibabies_work/.gitkeep

BABIES-Tracking/
project_tracking/

SLURM/log/*.out
!SLURM/log/

__pycache__/
*.log
.DS_Store
*.txt
