BABIES/MRI/newborn/bids/*
!BABIES/MRI/newborn/bids/
!BABIES/MRI/newborn/bids/dataset_description.json

BABIES/MRI/newborn/derivatives/precomputed/*
!BABIES/MRI/newborn/derivatives/precomputed/
!BABIES/MRI/newborn/derivatives/precomputed/dataset_description.json

BABIES/MRI/newborn/derivatives/recon-all/*
!BABIES/MRI/newborn/derivatives/recon-all/

BABIES/MRI/newborn/derivatives/work/nibabies_work/*
!BABIES/MRI/newborn/derivatives/work/nibabies_work/

BABIES/MRI/*.txt
BABIES/MRI/newborn/derivatives/Nibabies/*
BABIES/MRI/newborn/SW_ROI
BABIES/MRI/newborn/.bidsignore


BABIES/MRI/newborn/.bidsignore

BABIES/MRI/six_month/bids/*
!BABIES/MRI/six_month/bids/
!BABIES/MRI/six_month/bids/dataset_description.json

BABIES/MRI/six_month/derivatives/precomputed/*
!BABIES/MRI/six_month/derivatives/precomputed/
!BABIES/MRI/six_month/derivatives/precomputed/dataset_description.json

BABIES/MRI/six_month/derivatives/Nibabies/*

BABIES/MRI/six_month/derivatives/recon-all/*
!BABIES/MRI/six_month/derivatives/recon-all/
!BABIES/MRI/six_month/derivatives/recon-all

BABIES/MRI/six_month/derivatives/work/nibabies_work/sub-*
!BABIES/MRI/six_month/derivatives/work/nibabies_work/

BABIES-Tracking/
project_tracking/

__pycache__/
*.log
.DS_Store
*.txt
